@page
@model Veterinaria.App.Presentacion.Pages.AdminCuidadorModel
@{
}



<h1 style="margin: 25px 0px; color: gray; font-size: 21px;">Bienvenido al admin de clientes - cuidadores</h1>

<div class="accordion" id="accordionVeterinarios">

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseListaVeterinarios" aria-expanded="true"
                    aria-controls="collapseListaVeterinarios">
                    Lista cuidadores
                </button>
            </h2>
        </div>

        <div id="collapseListaVeterinarios" class="@(Model.modoPage == "adicion" ? "collapse show" : "collapse")"
            aria-labelledby="headingOne" data-parent="#accordionVeterinarios">
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var v in Model.cuidadores)
                        {
                            <tr>
                                <td>@v.Id</td>
                                <td>@v.Nombre</td>
                                <td>@v.Telefono</td>
                                <td>@v.Correo</td>
                                <td>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <a class="btn btn-primary bg-success" asp-page="/Admin/AdminCuidador"
                                                asp-route-idVeterinario="@v.Id">
                                                    Editar</a>
                                            </div>
                                            <div class="col-4">
                                                <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary bg-danger" data-toggle="modal"
                                                data-target="#exampleModal">
                                                Eliminar
                                            </button>

                                                <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Debes
                                                                    confirmar</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                ¿Estás seguro de eliminar el cuidador?
                                                            </div>
                                                            <div class="modal-footer">
                                                                @* <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save
                                                                    changes</button> *@

                                                                <form method="POST">
                                                                    <button class="btn btn-primary bg-danger"
                                                                    asp-page-handler="Del"
                                                                    asp-route-idCuidador="@v.Id">
                                                                        Sí, ¡estoy seguro!
                                                                    </button>
                                                                </form>
                                                                <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cancelar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <a class="btn btn-primary bg-primary" asp-page="/Admin/AdminMascota"
                                                asp-route-idCuidador="@v.Id">
                                                    Ver mascotas</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseCrudVeterinario" aria-expanded="true" aria-controls="collapseCrudVeterinario">
                    Datos del cuidador
                </button>
            </h2>
        </div>

        <div id="collapseCrudVeterinario" class="@(Model.modoPage == "edicion" ? "collapse show" : "collapse")"
            aria-labelledby="headingOne" data-parent="#accordionVeterinarios">
            <div class="card-body">
                <form method="POST" id="contactForm">
                    <div class="container">

                        <div class="row">

                            <input asp-for="@Model.cuidadorActual.Id" type="hidden" class="form-control" name="Id">

                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Nombre <b>(*)</b></label>
                                    <input autocomplete="off" asp-for="@Model.cuidadorActual.Nombre" type="text"
                                        class="form-control" required placeholder="Digita tu nombre aquí" name="Nombre">
                                </div>

                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-telefono">Teléfono</label>
                                    <input required asp-for="@Model.cuidadorActual.Telefono" type="tel"
                                        class="form-control" placeholder="Digita tu teléfono" name="Telefono">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Edad</label>
                                    <input required asp-for="@Model.cuidadorActual.Edad" type="number"
                                        class="form-control" placeholder="Digita tu edad" name="Edad">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-direccion">Dirección</label>
                                    <input required asp-for="@Model.cuidadorActual.Direccion" type="text"
                                        class="form-control" placeholder="Digita tu dirección" name="Direccion">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input required asp-for="@Model.cuidadorActual.Correo" type="email"
                                        class="form-control" placeholder="Digita tu correo" name="Correo">
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input asp-for="@Model.cuidadorActual.Contrasenia" type="password"
                                        class="form-control" placeholder="Digita tu contraseña" name="Contrasenia">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="margin: 20px 20px 20px 15px;">
                        <div class="row">
                            <button type="submit" class="btn btn-primary" style="margin-right: 20px"
                                asp-page-handler="Add">
                                Agregar
                            </button>

                            @if (Model.modoPage == "edicion")
                            {
                                <button type="submit" class="btn btn-primary bg-success" style="margin-right: 20px"
                                asp-page-handler="Edit">
                                    Editar
                                </button>
                            }

                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>

</div>


<script>

    @* $(document).ready(function() {
        $('#contactForm').bootstrapValidator({
        container: '#messages',
        feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        Nombre: {
        validators: {
        notEmpty: {
        message: 'The full name is required and cannot be empty'
        }
        }
        },
        Correo: {
        validators: {
        notEmpty: {
        message: 'The email address is required and cannot be empty'
        },
        emailAddress: {
        message: 'The correo address is not valid'
        }
        }
        }

        }
        });
        }); *@
</script>